<body>
  <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">

    <div class="panel shadow deliverychallan_edit_panel">
      <div class="panel-body">
        <div class="container-fluid row">

          <div class="form-group col-md-5">
            <label for="deliverychallan_edit_list">{% trans %}Delivery Note{% endtrans %} :</label>
            <select class="form-control input-sm" id="deliverychallan_edit_list">
              <option value="" disabled selected hidden>{% trans %}Select Delivery Note{% endtrans %}</option>
              <optgroup label="Delivery In" id="delin">
                {% for dc in delchals %}
                {% if dc['csflag'] == 19 %}
                  <option value="{{dc['dcid']}}">{{dc["dcno"]}}, {{dc["custname"]}}</option>
                {% endif %}
                {% endfor %}
              </optgroup>
              <optgroup label="Delivery Out" id="delout">
                {% for dc in delchals %}
                {% if dc['csflag'] == 3 %}
                  <option value="{{dc['dcid']}}">{{dc["dcno"]}}, {{dc["custname"]}}</option>
                {% endif %}
                {% endfor %}
              </optgroup>
            </select>

          </div>
        </div>
        <div class="col-md-5 deliverychallan_edit_div" hidden>
          <div class="form-group">
            <label for="deliverychallan_edit_challtype">{% trans %}Note Type{% endtrans %} :</label>
            <input class="form-control input-sm deliverychallan_edit_disable" id="deliverychallan_edit_challtype" placeholder="{% trans %}challan type{% endtrans %}" accesskey="a">
          </div>
          <div class="form-group">
            <label for="deliverychallan_edit_challanno">{% trans %}Note No{% endtrans %} :</label>
            <input class="form-control input-sm deliverychallan_edit_disable" id="deliverychallan_edit_challanno" placeholder="{% trans %}Enter challan no{% endtrans %}" accesskey="a">
          </div>
            <div class="form-group">
              <label for="deliverychallan_edit_date">{% trans %}Date{% endtrans %} :</label>
              <div class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control deliverychallan_edit_disable input-sm delchaldate" size="2" maxlength="2" placeholder="DD" id="deliverychallan_edit_date" accesskey="v">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control deliverychallan_edit_disable input-sm delchaldate" size="2" maxlength="2" placeholder="MM" id="deliverychallan_edit_month" accesskey="v">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control deliverychallan_edit_disable input-sm delchaldate" size="4" maxlength="4" placeholder="YYYY" id="deliverychallan_edit_year" accesskey="v">
                  </div>
              </div>
            </div>
            <div class="form-group">
              <label for="deliverychallan_edit_customer" id="clabel">{% trans %}Customer{% endtrans %} :</label>
              <label for="deliverychallan_edit_customer" id="slabel">{% trans %}Supplier{% endtrans %} :</label>
              <select class="form-control deliverychallan_edit_disable input-sm" id="deliverychallan_edit_customer" accesskey="">
                <optgroup id="customersgroup">
                  {% for customer in customers %}
                  <option value="{{customer['custid']}}">{{customer["custname"]}}</option>
                  {% endfor %}
                </optgroup>
                <optgroup id="suppliersgroup">
                  {% for supplier in suppliers %}
                  <option value="{{supplier['custid']}}">{{supplier["custname"]}}</option>
                  {% endfor %}
                </optgroup>
              </select>
            </div>
            <div class ="form-group">
              <label for="deliverychallan_customeraddr">
                {% trans %}Address{% endtrans %} :
              </label>
              <input class="form-control input-sm" id="deliverychallan_customeraddr" accesskey="" disabled>
            </div>
            <div class="form-group">
              <label for="deliverychallan_edit_godown" id="fgolabel">{% trans %}Received At{% endtrans %} :</label>
              <label for="deliverychallan_edit_godown" id="tgolabel">{% trans %}Dispatch From{% endtrans %} :</label>
              <select class="form-control deliverychallan_edit_disable input-sm" id="deliverychallan_edit_godown" accesskey="">
                <option value=""  selected>{% trans %}None{% endtrans %}</option>
                {% for godown in godowns %}
                <option value="{{godown['goid']}}">{{godown["goname"]}} ({{godown["goaddr"]}})</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="deliverychallan_edit_consignment">Type of Transaction:</label>
              <select class="form-control deliverychallan_edit_disable input-sm" id="deliverychallan_edit_consignment" accesskey="">
                <option value="16">{% trans %}Purchase{% endtrans %}</option>
                <option value="4">{% trans %}Sale{% endtrans %}</option>
                <option value="1">{% trans %}Approval{% endtrans %}</option>
                <option value="3">{% trans %}Consignment{% endtrans %}</option>
                <option value="19">{% trans %}Sample{% endtrans %}</option>
                <option value="6">{% trans %}Free Replacement{% endtrans %}</option>
                </select>
              </label>
            </div>
          </div>
          <div class="col-md-7 deliverychallan_edit_div" id="deliverychallan_edit_product_div" hidden>

            <div class="panel">
            <table id="deliverychallan_edit_product_table" class="table shadow table-condensed table-bordered fixed-edit-table">
              <thead class="bg-primary">
                <tr>
                  <th class="col-xs-7">{% trans %}Product{% endtrans %}</th>
                  <th class="col-xs-4 text-center">{% trans %}Quantity{% endtrans %}</th>
                  <th class="col-xs-1"></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            </div>
            <div class="col-md-6">
              <label for="deliverychallan_edit_noofpackages">{% trans %}Number of Packages{% endtrans %} :</label>
              <input type="text" class="form-control deliverychallan_edit_disable input-sm text-right" id="deliverychallan_edit_noofpackages" value="">
            </div>
            <div class="col-md-6">
              <label for="deliverychallan_edit_modeoftransport">{% trans %}Mode of Transport{% endtrans %} :</label>
              <input type="text" class="form-control deliverychallan_edit_disable input-sm" id="deliverychallan_edit_modeoftransport">
            </div>
            <div class="col-md-6">
              <br>
              <label for="deliverychallan_edit_issuername">{% trans %}Issuer's Name{% endtrans %} :</label>
              <input type="text" class="form-control deliverychallan_edit_disable input-sm" id="deliverychallan_edit_issuername" placeholder="Enter name">
            </div>
            <div class="col-md-6">
              <br>
              <label for="deliverychallan_edit_designation">{% trans %}Designation{% endtrans %} :</label>
              <input type="text" class="form-control deliverychallan_edit_disable input-sm" id="deliverychallan_edit_designation" placeholder="Enter designation">
            </div>
        </div>
      </div>
      <div class="panel-footer" hidden>
        <div class="container-fluid">
       <button id="deliverychallan_editprint" class="btn btn-primary btn-sm" >{% trans %}Print{% endtrans %}</button>
        <button class="btn btn-info btnfocus btn-sm" id="viewattach" accesskey="h">{% trans %}View Attac<u>h</u>ment{% endtrans %}</button>
      </div>
      </div>
    </div>


  </div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/editdeliverychallan.js')}}"></script>
</body>
