<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#vtable td {
	font-size: 75%;
	padding: 4 !important;
	margin: 4 !important;
}


#vtable th {
	font-size: 85%;
}
.card-view .title {
		font-weight: bold;
		display: inline-block;
		min-width: 30%;
		text-align: left !important;
}

#vtable tbody {
		display:block;
		height: calc(100vh - 22em);
		overflow-y:scroll;
}
 #vtable thead,#vtable tbody tr {
		display:table;
		width:100%;
		table-layout:fixed;
}
 #vtable thead {
		width: calc( 100% - 0.65em )
}
.nopadding{
	padidng:0 !important;
	padding:0 !important;
}
.ralign{
	text-align:right;
}
.cred{
	color:red;
}
.calign{
	text-align:center;
}
.5width{
  width: 5%;
}
.6width{
  width: 6%;
}
.10width{
  width: 10%;
}
.14width{
  width: 14%;
}
.20width{
  width: 20%;
}

</style>
</head>
<body>
  <input type="hidden" id="urole" name="urole" value="{{userrole}}"></input>
  <input type="hidden" id="modalindex" value=""></input>
 <div id="fevoucherrow" class="row">
   <button class="btn btn-sm btn-danger pull-right" type="button" style="margin-right: 15px;" id="fvclearfields">{% trans %}Clear Search{% endtrans %}<span class="glyphicon glyphicon-remove" style="margin-left: 5px;"></span></button>
    <table id="vtable" class="table table-condensed table-bordered" data-toggle="table" data-show-toggle="true"  data-search-align="left" data-buttons-align="left" data-search="true">
      <thead class="bg-primary">
        <tr>
            <th class="5width">{% trans %}V. No.{% endtrans %}</th>
            <th class="calign 5width">{% trans %}Status{% endtrans %}</th>
            <th class="6width">{% trans %}Date{% endtrans %}</th>
            <th class="10width">{% trans %}Type{% endtrans %}</th>
            <th class="20width">{% trans %}Dr Accounts{% endtrans %}</th>
            <th class="20width">{% trans %}Cr Accounts{% endtrans %}</th>
            <th class="ralign 10width">{% trans %}Dr Amounts{% endtrans %}</th>
            <th class="ralign 10width">{% trans %}Cr Amounts{% endtrans %}</th>
            <th class="14width">{% trans %}Narration{% endtrans %}</th>

        </tr>
      </thead>
      <tbody>
        {% for vc in vouchers %}
        <tr  data-value="{{vc['vouchercode']}}">
            <td class="5width word-wrap:break-word;">
              <a class="vno" href="">{{vc['vouchernumber']}}</a>
            </td>
            {% if (vc['status']) %}
            <td class="cred calign 5width">***</td>
            {% else %}
            <td  class="cred calign 5width">&nbsp </td>
            {% endif %}
            <td class="6width">
              {{vc['voucherdate']}}
            </td>
            {% if vc['vouchertype'] =="contra" %}
            <td class="10width">
              {% trans %}Contra{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "payment" %}
            <td class="10width">
              {% trans %}Payment{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "receipt" %}
            <td class="10width">
              {% trans %}Receipt{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "journal" %}
            <td class="10width">
              {% trans %}Journal{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "sales" %}
            <td class="10width">
              {% trans %}Sales{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "purchase" %}
            <td class="10width">
              {% trans %}Purchase{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "creditnote" %}
            <td class="10width">
              {% trans %}Credit Note{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "debitnote" %}
            <td class="10width">
              {% trans %}Debit Note{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "salesreturn" %}
            <td class="10width">
              {% trans %}Sale Return{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "purchasereturn" %}
            <td class="10width">
              {% trans %}Purchase Return{% endtrans %}
            </td>
            {% endif %}
            <td class="20width">
              {{vc["drs"].keys()[0]}}
            </td>
            <td class="20width">
              {{vc["crs"].keys()[0]}}
            </td>
            <td class=" ralign 10width">
              {{vc["drs"][vc["drs"].keys()[0]]}}
            </td>
            <td class="ralign 10width">
              {{vc["crs"][vc["crs"].keys()[0]]}}
            </td>
              {% if vc['narration']=="" %}
              <td class="14width">&nbsp</td>
              {% else %}
              <td class="14width">{{vc['narration']}}</td>
              {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

  <div id="viewvc">
  </div>
  <br>
  <div class="">
    <span style="margin:auto; display:table;">
      <button type="button" class="btn btn-sm btn-info" id="viewprintableversion" accesskey="t">{% trans %}View Prin<u>t</u>able Version{% endtrans %}</button>
    </span>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/findvouchertable.js')}}"></script>
</body>
</html>
