<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {{projectname}} {% trans %}Statement{% endtrans %}</title>
  <style type="text/css">

  td {
  	font-size: 65%;
  	color: black;
  }

  th {
  	font-size: 70%;
  }

  @page {
    size : 21cm 29.7cm;
    margin : 10mm 10mm 20mm 10mm
  }
  thead{
    display: table-header-group;
  }
  tfoot{
    display: table-footer-group;
  }

  </style>
</head>
<body>

	<div class="table-responsive printorgdetails">
    <table  class="table table-fixedheader table-bordered  table-condensed shadow">
      <thead class="bg-primary">
	<tr class="hidden-print">
          <th id="printheader1" colspan="8" style="text-align:center; font-size:80%;">
            {% trans %}List of Transactions{% endtrans %}
          </th>
        </tr>
        <tr class="visible-print">
          <th id="printheader" colspan="8" style="text-align:center; font-size:80%;">
            {% trans %}List of Transactions{% endtrans %}
          </th>
        </tr>
				<tr>
            <th style="width:10%">{% trans %}V.No.{% endtrans %}</th>
            <th style="width:5%">{% trans %}Date{% endtrans %}</th>
            <th style="width:10%">{% trans %}Type{% endtrans %}</th>
            <th style="width:20%">{% trans %}Dr Accounts{% endtrans %}</th>
            <th style="width:20%">{% trans %}Cr Accounts{% endtrans %}</th>
            <th style="text-align:right; width:10%">{% trans %}Dr Amounts{% endtrans %}</th>
            <th style="text-align:right; width:10%">{% trans %}Cr Amounts{% endtrans %}</th>
            <th style="width:15%">{% trans %}Narration{% endtrans %}</th>

        </tr>
      </thead>
      <tbody>
        {% for vc in vouchers %}
        <tr  value="{{vc['vouchercode']}}">
            <td style="max-width:5px; word-wrap:break-word;">
              {{vc['vouchernumber']}}
            </td>
            <td style=" width:5%">
              {{vc['voucherdate']}}
            </td>
            {% if vc['vouchertype'] =="contra" %}
            <td style=" width:10%">
              {% trans %}Contra{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "payment" %}
            <td style=" width:10%">
              {% trans %}Payment{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "receipt" %}
            <td style=" width:10%">
              {% trans %}Receipt{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "journal" %}
            <td style=" width:10%">
              {% trans %}Journal{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "sales" %}
            <td style=" width:10%">
              {% trans %}Sales{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "purchase" %}
            <td style=" width:10%">
              {% trans %}Purchase{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "creditnote" %}
            <td style=" width:10%">
              {% trans %}Credit Note{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "debitnote" %}
            <td style=" width:10%">
              {% trans %}Debit Note{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "salesreturn" %}
            <td style=" width:10%">
              {% trans %}Sale Return{% endtrans %}
            </td>
            {% elif vc['vouchertype'] == "purchasereturn" %}
            <td style=" width:10%">
              {% trans %}Purchase Return{% endtrans %}
            </td>
            {% endif %}
            <td style=" width:20%">
              {{vc["drs"].keys()[0]}}
            </td>
            <td style=" width:20%">
              {{vc["crs"].keys()[0]}}
            </td>
            <td style="text-align:right; width:10%">
              {{vc["drs"][vc["drs"].keys()[0]]}}
            </td>
            <td style="text-align:right;width:10%">
              {{vc["crs"][vc["crs"].keys()[0]]}}
            </td>
            <td style="width:15%">{{vc['narration']}}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr>
  <br>
  <div>
    <span class="hidden-print" style="margin:auto; display:table;">
      <button type="button" class="btn btn-sm btn-danger hidden-print" id="lotback" accesskey="b">{% trans %}<u>B</u>ack{% endtrans %}</button>
      <button type="button" class="btn btn-sm btn-info" id="lotprint" accesskey="t">{% trans %}Prin<u>t</u>{% endtrans %}</button>
    </span>
  </div>
  <script type="text/javascript">
   $(document).ready(function() {

     oninvoice = 0;

     $("#msspinmodal").modal("hide");

     $("title").html("GNUKhata")
     var search = $("#searchby option:selected").val();
     var heading;
     if (search=="type")
       {
         heading = " for Type: "+$("#vtype option:selected").text();

       }
     else if (search=="vnum")
       {
         heading = " for V.No. "+$("#vnum").val();

       }
     else if (search=="amount")
       {
         heading = " for Amount "+$("#amount").val();


       }
     else if (search=="date")
       {

         heading = " for Period: "+$("#fday").val()+"-"+$("#fmonth").val()+"-"+$("#fyear").val()+" to "+$("#tday").val()+"-"+$("#tmonth").val()+"-"+$("#tyear").val();



       }

     else if (search=="narration")
       {

         heading = " containing Narration: "+$("#narration").val();

       }


     $("#printheader").append(heading);
     $("#printheader1").append(heading);
     $("#lotprint").click(function(event) {
       window.print();
     });
     $("#lotback").click(function(event) {
       $("#submit").click();
       $("#fevoucherhiddenprint").show();
     });
   });
  </script>

</body>
</html>
