<body>
<div class="container-fluid" style="padding:1 !important; margin:0 !important;">
    <div class='panel '>

  <div class="panel-body">
    <form id="viewsalesorderform">
      <div class="container-fluid row">
    <div class="form-group  col-sm-12">

      <label for="salesorderselect">{% trans %}Sales Order{% endtrans %} :</label>
        <select class = "form-control"  name = "salesorderno" id="salesorder_select" >
          <option value="" disabled selected hidden>{% trans %}Select Sales Order{% endtrans %}</option>
          {% for so in gkresult %}
          <option value="{{so['orderid']}}">{{so["orderno"]}}, {{so["orderdate"]}}, {{so["custname"]}}</option>
          {% endfor %}
        </select>


    </div>
  </div>
      <div class="container-fluid" id="salesorderdetails" style="padding:1 !important; margin:0 !important;" disabled >

      </div>
    </form>
      </div>




    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewsalesorder.js')}}"></script>
  </body>
